
<h2><a href="#option-1-heroes-of-pymoli" aria-hidden="true" class="anchor" id="user-content-option-1-heroes-of-pymoli"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>Heroes of Pymoli</h2>
<div><img src="https://github.com/the-Coding-Boot-Camp-at-UT/UTAAU201710DATA1-Class-Repository-DATA/raw/master/1-Class-Content/04-Pandas/Homework/Instructions/Images/Fantasy.jpg" alt="Fantasy" style="max-width:100%;"></div>
<p>Congratulations! After a lot of hard work in the data munging mines, you've landed a job as Lead Analyst for an independent gaming company. You've been assigned the task of analyzing the data for their most recent fantasy game Heroes of Pymoli.</p>
<p>Like many others in its genre, the game is free-to-play, but players are encouraged to purchase optional items that enhance their playing experience. As a first task, the company would like you to generate a report that breaks down the game's purchasing data into meaningful insights.</p>
<p>Your final report should include each of the following:</p>
<p><strong>Player Count</strong></p>
<ul>
<li>Total Number of Players</li>
</ul>
<p><strong>Purchasing Analysis (Total)</strong></p>
<ul>
<li>Number of Unique Items</li>
<li>Average Purchase Price</li>
<li>Total Number of Purchases</li>
<li>Total Revenue</li>
</ul>
<p><strong>Gender Demographics</strong></p>
<ul>
<li>Percentage and Count of Male Players</li>
<li>Percentage and Count of Female Players</li>
<li>Percentage and Count of Other / Non-Disclosed</li>
</ul>
<p><strong>Purchasing Analysis (Gender)</strong></p>
<ul>
<li>The below each broken by gender
<ul>
<li>Purchase Count</li>
<li>Average Purchase Price</li>
<li>Total Purchase Value</li>
<li>Normalized Totals</li>
</ul>
</li>
</ul>
<p><strong>Age Demographics</strong></p>
<ul>
<li>The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
<ul>
<li>Purchase Count</li>
<li>Average Purchase Price</li>
<li>Total Purchase Value</li>
<li>Normalized Totals</li>
</ul>
</li>
</ul>
<p><strong>Top Spenders</strong></p>
<ul>
<li>Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
<ul>
<li>SN</li>
<li>Purchase Count</li>
<li>Average Purchase Price</li>
<li>Total Purchase Value</li>
</ul>
</li>
</ul>
<p><strong>Most Popular Items</strong></p>
<ul>
<li>Identify the 5 most popular items by purchase count, then list (in a table):
<ul>
<li>Item ID</li>
<li>Item Name</li>
<li>Purchase Count</li>
<li>Item Price</li>
<li>Total Purchase Value</li>
</ul>
</li>
</ul>
<p><strong>Most Profitable Items</strong></p>
<ul>
<li>Identify the 5 most profitable items by total purchase value, then list (in a table):
<ul>
<li>Item ID</li>
<li>Item Name</li>
<li>Purchase Count</li>
<li>Item Price</li>
<li>Total Purchase Value</li><img src="" width ="25px"></img>
</ul>
</li>
</ul>
<p>As final considerations:</p>
<ul>
<li>Your script must work for both data-sets given.</li>
<li>You must use the Pandas Library and the Jupyter Notebook.</li>
<li>You must submit a link to your Jupyter Notebook with the viewable Data Frames.</li>
<li>You must include an exported markdown version of your Notebook called  <code>README.md</code> in your GitHub repository.</li>
<li>You must include a written description of three observable trends based on the data.</li>
<li>See <a href="/the-Coding-Boot-Camp-at-UT/UTAAU201710DATA1-Class-Repository-DATA/blob/master/1-Class-Content/04-Pandas/Homework/Instructions/HeroesOfPymoli/HeroesOfPymoli_Example.pdf">Example Solution</a> for a reference on expected format.</li>
</ul>

In [1]:
import pandas as pd
import numpy as np 
import os



datasource = os.path.join("Source_data","purchase_data.json")
datasource_2 = os.path.join("Source_data","purchase_data2.json")

purchase_data_df= pd.read_json(datasource)
purchase_data_df_2 = pd.read_json(datasource_2)


merged_data_dfa = pd.merge(purchase_data_df,purchase_data_df_2, on = ["Age","Gender","Item ID","Item Name","Price","SN"], how ="outer" )
merged_data_df = merged_data_dfa.drop_duplicates()

In [2]:
total_players = merged_data_df["SN"].nunique()
total_players_df = pd.DataFrame({"Total Players":[total_players]})
total_players_df.head()

   Total Players
0            612

<h1 style="font-size:100;font-weight:600;">Purchasing Analysis</h1>

z## Player Count
purchase_data_df.columns

In [3]:
num_unique_items = merged_data_df["Item ID"].nunique()
average_purchase_price = merged_data_df["Price"].mean()
total_number_of_purchases= merged_data_df["Item ID"].count()
total_revenue = merged_data_df["Price"].sum()

purchasing_analysis = pd.DataFrame({"Number of Unique Items":[num_unique_items],
                                    "Average Price":"$" + str(round(average_purchase_price,2)),
                                    "Number of Purchases":[total_number_of_purchases],
                                    "Total Revenue":"$" + str(round(total_revenue,2)) })
purchasing_analysis

  Average Price  Number of Purchases  Number of Unique Items Total Revenue
0         $2.93                  855                     184      $2507.42

<h1 style="font-size:100;font-weight:600;">Gender Demographics</h1>

In [4]:
total_gender = merged_data_df["Gender"].count()
male = merged_data_df["Gender"].value_counts()["Male"]
female = merged_data_df["Gender"].value_counts()["Female"]
non_gender = total_gender - male - female

percentage_male_count = male / total_gender * 100
percentage_female_count = female / total_gender * 100
percentage_nonspecific_count = non_gender / total_gender * 100

gender_demographics_df = pd.DataFrame({"Male": [male,percentage_male_count] ,
                                       "Female":[female,percentage_female_count],
                                       "Non-Specific":[non_gender,percentage_nonspecific_count]
                                       
                                      
                                      },index = ["Count","Percentage of Players"])
gender_demographics_df.transpose()

              Count  Percentage of Players
Female        148.0              17.309942
Male          695.0              81.286550
Non-Specific   12.0               1.403509

<h1 style="font-size:100;font-weight:600;">Purchasing Analysis (Gender)</h1>

In [5]:
male_purchase = merged_data_df.loc[merged_data_df["Gender"] == "Male", :]
female_purchase = merged_data_df.loc[merged_data_df["Gender"] == "Female",:]
non_specific_purchase = merged_data_df.loc[merged_data_df["Gender"] == "Other / Non-Disclosed",:]

#Purchase Count

male_purchase_count = male_purchase["Item ID"].count()
female_purchase_count = female_purchase["Item ID"].count()
non_specific_purchase_count = non_specific_purchase["Item ID"].count()

#Average Purchase Price

male_average_price = round(male_purchase["Price"].mean(),2)
female_purchase_price = round(female_purchase["Price"].mean(),2)
non_specific_purchase_price = round(non_specific_purchase["Price"].mean(),2)

#Total Purchase Value
male_total_purchase = round(male_purchase["Price"].sum(),2)
female_total_purchase = round(female_purchase["Price"].sum(),2)
non_specific_total_purchase = round(non_specific_purchase["Price"].sum(),2)

#Normalized Totals
male_normalized = male_total_purchase/male
female_normalized = female_total_purchase/female
non_specific_normalized = non_specific_total_purchase/non_gender

purchasing_analysis_df = pd.DataFrame({"Purchase Count":[male_purchase_count,female_purchase_count,non_specific_purchase_count],
                                       "Average Purchase Price":["$" + str(male_average_price),"$" + str(female_purchase_price),"$" + str(non_specific_purchase_price)],
                                       "Total Purchase value":["$" + str(male_total_purchase),"$"+ str(female_total_purchase),"$" + str(non_specific_total_purchase)],
                                       "Normalized Totals":["$" + str(male_normalized),"$" + str(female_normalized),non_specific_normalized]
                                    },index=["Male","Famale","Other/ Non-Disclosed"])

purchasing_analysis_df

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase value
Male,$2.94,$2.94479136691,695,$2046.63
Famale,$2.86,$2.85763513514,148,$422.93
Other/ Non-Disclosed,$3.15,3.155,12,$37.86

<h1 style="font-size:100;font-weight:600;">Age Demographics</h1>

In [6]:
age_group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40-44","45-49"]
bins = [0,9,14,19,24,29,34,39,44,49]

merged_data_df_2 = pd.DataFrame(merged_data_df)
merged_data_df_2["Age Group"] = pd.cut(merged_data_df["Age"],bins,labels=age_group_names)
merged_data_df_2 = merged_data_df_2.groupby("Age Group", as_index=True)



age_count = merged_data_df_2["Age Group"].count()
age_total = merged_data_df["Age"].count()
age_percentage = age_count/age_total*100

age_demographics_df = pd.DataFrame({"Age Count":age_count,"Age Percentage": age_percentage})

age_demographics_df.head(10)

           Age Count  Age Percentage
Age Group
10-14             38        4.444444
15-19            144       16.842105
20-24            371       43.391813
25-29            133       15.555556
30-34             71        8.304094
35-39             48        5.614035
40-44             17        1.988304
45-49              1        0.116959
<10               32        3.742690

In [7]:
#Age Analysis


age_purchase_count = merged_data_df_2["Item ID"].count()
age_average_purchase_price = merged_data_df_2["Price"].mean() 
age_total_purchase_value = merged_data_df_2["Price"].sum()
age_normalized_total = age_total_purchase_value/age_purchase_count

age_demographics_analysis = pd.DataFrame({"Purchase Count":age_purchase_count,
                             "Average Purchase Price":age_average_purchase_price,
                              "Total Purchase Value":age_total_purchase_value,
                              "Normalized Totals":age_normalized_total
                            })

age_demographics_analysis.head(10)

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
Age Group,,,,
10-14,2.787105,2.787105,38,105.91
15-19,2.894653,2.894653,144,416.83
20-24,2.925687,2.925687,371,1085.43
25-29,2.970526,2.970526,133,395.08
30-34,2.973803,2.973803,71,211.14
35-39,2.932708,2.932708,48,140.77
40-44,3.275294,3.275294,17,55.68
45-49,2.720000,2.720000,1,2.72
<10,2.933125,2.933125,32,93.86

In [8]:

top_SN = merged_data_df.groupby("SN").Price.agg(("count","sum","mean"))
top_SN.sort_values('sum',ascending=False,inplace = True)
top_SN.rename(columns={"count":"Purhcase Count","sum":"Total Purchase Value","mean":"Average Purchase Price"},inplace=True)
top_SN["Average Purchase Price"]="$" + (round(top_SN["Average Purchase Price"],2)).astype(str)
top_SN["Total Purchase Value"]="$" + (round(top_SN["Total Purchase Value"],2)).astype(str)
top_SN.iloc[0:5]

               Purhcase Count Total Purchase Value Average Purchase Price
SN
Undirrala66                 5               $17.06                  $3.41
Aerithllora36               4                $15.1                  $3.78
Saedue76                    4               $13.56                  $3.39
Sondim43                    4               $13.02                  $3.26
Mindimnya67                 4               $12.74                  $3.18

<h1>Most Popular Item</h1>

In [9]:
top_item = pd.DataFrame(merged_data_df).groupby("Item Name")
top_item_2=pd.DataFrame(merged_data_df)

In [49]:
top_item = merged_data_df.groupby(["Item Name"]).Price.agg(("count","sum","mean"))
top_item.sort_values('count',ascending=False,inplace = True)
top_item.rename(columns={"count":"Purhcase Count","sum":"Total Purchase Value","mean":"Item Price"},inplace=True)
top_item.iloc[0:5]

,Purhcase Count,Total Purchase Value,Item Price
Item Name,,,
Final Critic,13,37.24,2.864615
Stormcaller,12,40.19,3.349167
"Betrayal, Whisper of Grieving Widows",11,25.85,2.350000
Arcane Gem,11,27.11,2.464545
Trickster,10,23.22,2.322000

<h1>Most Profitable Item</h1>

In [37]:
merged_data_df

,Age,Gender,Item ID,Item Name,Price,SN,Age Group
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,35-39
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,20-24
2,34,Male,174,Primitive Blade,2.46,Assastnya25,30-34
3,21,Male,92,Final Critic,1.36,Pheusrical25,20-24
4,23,Male,63,Stormfury Mace,1.27,Aela59,20-24
5,20,Male,10,Sleepwalker,1.73,Tanimnya91,20-24
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97,20-24
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29,25-29
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63,25-29
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92,30-34
10,24,Male,57,"Despair, Favor of Due Diligence",3.81,Chamosia29,20-24
11,20,Male,47,"Alpha, Reach of Ending Hope",1.55,Sally64,20-24
12,30,Male,81,Dreamkiss,4.06,Iskossa88,30-34
13,23,Male,77,"Piety, Guardian of Riddles",3.68,Seorithstilis90,20-24
14,40,Male,44,Bonecarvin Battle Axe,2.46,Sundast29,40-44
15,21,Male,96,Blood-Forged Skeletal Spine,4.77,Haellysu29,20-24
16,22,Female,123,Twilight's Carver,1.14,Sundista85,20-24
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34,20-24
18,28,Male,91,Celeste,3.71,Iskista88,25-29
19,31,Male,177,"Winterthorn, Defender of Shifting Worlds",4.89,Assossa43,30-34
20,24,Male,78,"Glimmer, Ender of the Moon",2.33,Irith83,20-24
21,15,Male,3,Phantomlight,1.79,Iaralrgue74,15-19
22,11,Female,11,Brimstone,2.52,Deural48,10-14
23,19,Male,183,Dragon's Greatsword,2.36,Chanosia65,15-19
24,11,Male,65,Conqueror Adamantite Mace,1.96,Qarwen67,10-14
25,21,Male,63,Stormfury Mace,1.27,Idai61,20-24
26,29,Male,132,Persuasion,3.90,Aerithllora36,25-29
27,34,Male,106,Crying Steel Sickle,2.29,Assastnya25,30-34
28,15,Male,49,"The Oculus, Token of Lost Worlds",4.23,Ilariarin45,15-19
29,16,Female,45,Glinting Glass Edge,2.46,Phaedai25,15-19
...,...,...,...,...,...,...,...
828,25,Male,84,Arcane Gem,4.81,Eusty71,25-29
829,20,Male,14,Possessed Core,2.82,Frichilsa31,20-24
830,23,Male,176,Relentless Iron Skewer,2.12,Filon68,20-24
831,28,Male,1,Crucifer,3.67,Palyon91,25-29
832,23,Female,118,"Ghost Reaver, Longsword of Magic",2.95,Assistast50,20-24
833,16,Female,94,Mourning Blade,3.64,Seostylis96,15-19
834,25,Male,111,Misery's End,1.79,Iskadar31,25-29
835,20,Male,108,"Extraction, Quickblade Of Trembling Hands",2.26,Pheodaisun84,20-24
836,17,Male,79,"Alpha, Oath of Zeal",1.31,Yarmol79,15-19
837,23,Female,107,"Splitter, Foe Of Subtlety",4.15,Aeri79,20-24
838,30,Female,105,Hailstorm Shadowsteel Scythe,1.02,Undosian34,30-34
839,39,Female,2,Verdict,2.65,Aesririam61,35-39
840,23,Female,68,"Storm-Weaver, Slayer of Inception",4.39,Firon67,20-24
841,21,Male,31,Trickster,4.59,Jiskjask76,20-24
842,18,Male,25,Hero Cane,4.78,Chanirra64,15-19
843,11,Female,41,Orbit,3.85,Isristira52,10-14
844,24,Male,164,Exiled Doomblade,1.31,Chaniman66,20-24
845,23,Male,181,Reaper's Toll,4.12,Yarithrgue83,20-24
846,24,Male,4,Bloodlord's Fetish,1.91,Airi27,20-24
847,22,Male,94,Mourning Blade,3.64,Undilsan50,20-24
848,21,Male,82,Nirvana,1.77,Aidaira26,20-24
849,34,Male,126,Exiled Mithril Longsword,1.08,Chamalo71,30-34
850,25,Male,98,"Deadline, Voice Of Subtlety",1.29,Undadar97,25-29
851,25,Male,60,Wolf,2.70,Sundaky74,25-29
852,21,Male,180,Stormcaller,2.77,Lisirra44,20-24
853,35,Male,93,Apocalyptic Battlescythe,4.49,Chamast86,35-39
854,38,Male,163,Thunderfury Scimitar,4.16,Ardcil81,35-39
855,15,Male,167,"Malice, Legacy of the Queen",3.25,Heudai45,15-19
856,24,Male,97,"Swan Song, Gouger Of Terror",1.92,Chaniman66,20-24
857,20,Male,134,Undead Crusader,2.15,Syalallodil59,20-24

In [50]:
top_item = merged_data_df.groupby(["Item Name"]).Price.agg(("mean",'sum',"count"))
top_item.sort_values("sum",ascending=False,inplace = True)
top_item.rename(columns={"count":"Purhcase Count","sum":"Total Purchase Value","mean":"Item Price"},inplace=True)
top_item.iloc[0:5]

                            Item Price  Total Purchase Value  Purhcase Count
Item Name
Stormcaller                   3.349167                 40.19              12
Retribution Axe               4.140000                 37.26               9
Final Critic                  2.864615                 37.24              13
Splitter, Foe Of Subtlety     3.670000                 33.03               9
Spectral Diamond Doomblade    4.250000                 29.75               7

Object `agg` not found.

    B             C
  min max       min       max
A
1   1   2 -1.590097  0.177836
2   3   4 -2.220289 -0.155785

   min  max
A
1    1    2
2    3    4